#### List [ ]
List is the collection of elements (Arrays) which is mutable.

`Properties of list: `

- List items are comma seprated
- Enclosed by square bracket []
- List is Ordered in nature
- Lists are Mutable
- List is heterogeneous, can contain different data types
- Duplicate elements are allowed

In [1]:
list1 = ["mango","apple","banana"]
print(list1)
print(type(list1))

['mango', 'apple', 'banana']
<class 'list'>

In [2]:
list2 = [10,11,12,13,14,15]
print(list2)
print(type(list2))

[10, 11, 12, 13, 14, 15]
<class 'list'>

In [1]:
list2 = [10,11,12,13,14,14,15,15] # Duplicates are allowed in list but not in set
print(list2)
print(type(list2))

[10, 11, 12, 13, 14, 14, 15, 15]
<class 'list'>

In [3]:
list3 =[] # empty list
print(type(list3))

<class 'list'>

In [ ]:
# Another way to define list: 'List constructor'

list4 = list()
print(type(list4))

#### Ordered
order of items in list will remain same (order of items wil change in set), use of indexing is possible and therefore slicing is also possible.

In [4]:
list5 = [10,11,12,13,14]

# Use of indexing
print(list5[0])
print(list5[-1])

# Use of slicing
print(list5[0:3:1])

10
14
[10, 11, 12]

#### Heterogeneous
that basically means a list can contain any datatype of variable string, float, int, another list etc.

In [5]:
# There is a another list in list6, If we get the output without any error then, it can be said that list is heterogeneous.

list6 = [10,11,3.4,5.6,"string","python,",[21,22,23,24]]
print(list6)

[10, 11, 3.4, 5.6, 'string', 'python,', [21, 22, 23, 24]]

In [7]:
# accessing elements from list of list using indexing

list6 = [10,11,3.4,5.6,"string","python,",[21,22,23,24]]
print(list6[6][2]) # when there are 2 lists

23

In [6]:
list6 = [10,11,3.4,5.6,"string","python,",[21,22,23,24,[31,32,33]]]
print(list6[6][4][1])

32

In [3]:
# List can contain int, float, str, list, list of list, tuple, dictionary.

list6 = [10,11,3.4,5.6,"string","python",[21,22,23,24,[31,32,33]],('python',1,True),{1:'python',2:'data science'}]
print(type(list6))
print(len(list6))
print(type(list6[7]))
print(type(list6[8]))
print(list6)

<class 'list'>
9
<class 'tuple'>
<class 'dict'>
[10, 11, 3.4, 5.6, 'string', 'python', [21, 22, 23, 24, [31, 32, 33]], ('python', 1, True), {1: 'python', 2: 'data science'}]

#### Mutable
that means to change an existing element

In [8]:
list7 = [10,11,12,13,14,15]
print(list7)

list7[0] = "hello"
print(list7)

list7[-1] = "python"
print(list7)

[10, 11, 12, 13, 14, 15]
['hello', 11, 12, 13, 14, 15]
['hello', 11, 12, 13, 14, 'python']

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

#### inserting new element in list

In [31]:
thislist = ["apple", "banana", "cherry"] # There is a another for this also, pls refer .insert() function 
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#### range of index / slicing

In [19]:
print(thislist[::])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [20]:
print(thislist[::1])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [21]:
print(thislist[:len(thislist):])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [24]:
print(thislist[::-1]) # mango included (step size)

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [26]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] # mango excluded
print(thislist[:-1])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] # mango excluded
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

#### range in list

In [3]:
list(range(1,5)) # exclude 5

[1, 2, 3, 4]

In [4]:
list(range(4,19))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [5]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

#### use of membership operator
to check whether the item exist in list or not

In [28]:
list7 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'apple' in list7:
    print('Item exist in the list')
else:
    print('Item not found')

item exist in the list

In [29]:
list7 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'papaya' not in list7:
    print('you were right! Item is not present')
else:
    print('you were wrong! Item found!')

you were right! Item is not present

#### accessing list elements using for loop

In [1]:
city_names = ["Mumbai", "Pune", "Delhi", "Chennai","Banglore"]
for i in city_names:
    print(f"Hello : {i}")

Hello : Mumbai
Hello : Pune
Hello : Delhi
Hello : Chennai
Hello : Banglore

In [2]:
city_names = ["Mumbai", "Pune", "Delhi", "Chennai","Banglore"]

for i in city_names:
    print(i, i.upper())  # Mumbai >> MUMBAI
    print("**************")

Mumbai MUMBAI
**************
Pune PUNE
**************
Delhi DELHI
**************
Chennai CHENNAI
**************
Banglore BANGLORE
**************

#### enumarate & list

In [2]:
city_names = ["Mumbai", "Pune", "Delhi", "Chennai","Banglore"]
for index, item in enumerate(city_names):
    print(index, item)

0 Mumbai
1 Pune
2 Delhi
3 Chennai
4 Banglore

#### List functions

- append()
- extend()
- insert()
- remove()
- pop()
- clear()
- sort()
- reverse()
- index()
- count()
- copy()

#### Built-in list functions

- sum()
- min()
- max()
- sorted()
- reversed()

#### 1) length()
`Syntax : len(list_name)`

returns length of the list

In [9]:
lst1 = ["apple", "banana", "cherry"]
print(len(lst1))

3

In [12]:
lst1 = ["apple", "banana", [1,2,3,4]]
print(len(lst1))

3

In [ ]:
lst1 = ["apple", "banana", [1,2,3,4]] # length of the list having index value [2]
print(len(lst1[2]))

#### 2) type()
`Syntax : type(list_name)`

returns data type of list or the elements of list

In [13]:
lst1 = ["apple", "banana", "cherry"]
print(type(lst1))

<class 'list'>

In [14]:
lst1 = ["apple", "banana", "cherry"]
print(type(lst1[0]))

<class 'str'>

In [16]:
lst1 = ["apple", "banana", "cherry", [1,2,'python']]
print(type(lst1[3]))

<class 'list'>

In [17]:
lst1 = ["apple", "banana", "cherry", [1,2,'python']]
print(type(lst1[3][2])) # data type of 'python'

<class 'str'>

#### 3) .index()
`Syntax : list.index(item)`

returns index number of an item

In [11]:
sub_names = ["Phy", "Che", "Maths", "Eng", "Bio"]
sub_names.index("Maths")

2

In [12]:
numbers = [3, 9.8, 6,7, 4.5, 20,30,40]
numbers.index(20)

5

#### 4) .count()
`Syntax : list.count(item)`
    
returns count of the item in a list

In [13]:
numbers = [3, 9.8, 6,7, 4.5, 20,30,40,6,6,6,6]
numbers.count(6)

5

In [14]:
sub_names = ["Phy", "Che", "Maths", "Eng", "Bio","Maths", "Maths","maths"]

sub_names.count("Maths")

3

#### 5) sum()
`Syntax : sum(list_name)`

returns sum of numbers in list

In [15]:
numbers = [10,30,46,78,8,12,80]
sum(numbers)

264

#### 6) min()
`Syntax : min(list_name)`
    
returns minimum number in the list

In [17]:
numbers = [10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9]
min(numbers)

-67

#### 7) max()
`Syntax : max(list_name)`

returns maximum number in the list

In [18]:
numbers = [10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9]
max(numbers)

80

#### 8) .append()
`Syntax : list_var.append(item)`

add an item to the end of the list

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [33]:
thislist = ["apple", "banana", "cherry"] # you can append another list also
thislist.append([1,2,3,4])
print(thislist)

['apple', 'banana', 'cherry', [1, 2, 3, 4]]

In [3]:
numbers = []

numbers.append(100)

numbers.append(200)

numbers.append(300)
print(numbers)

[100, 200, 300]

#### 9) .insert()
`Syntax : list1.insert(index, value)`

inserts an item to a specified index. Difference between insert and append is that, append adds element at the end of the list. whereas insert adds element at specified index.

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, [1,2,'python'])
print(thislist)

['apple', [1, 2, 'python'], 'banana', 'cherry']

#### 10) .remove()
`Syntax : list.remove(item)`

removes an element or an element of a specified index

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.remove(thislist[1])
print(thislist)

['apple', 'cherry']

In [4]:
sub_names = ["Phy", "Che", "Maths", "Eng", "Bio"]
value = "Bio"

if value in sub_names: #True
    sub_names.remove(value)
    print("Item deleted")
    
else:
    print("Item not present in the list")
    
print("Updated list", sub_names)

Item deleted
Updated list ['Phy', 'Che', 'Maths', 'Eng']

#### 11) .pop()
`Syntax : list.pop(index)`

removes a specified index element

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(2)
print(thislist)

['apple', 'banana']

In [39]:
thislist = ["apple", "banana", "cherry"] # if you do not specify index then it will remove element from end of the list
thislist.pop()
print(thislist)

['apple', 'banana']

#### 12) del function
`Syntax : del list[index]`

it can delet specified index element and can delet entire list also

In [40]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

# del thislist # this will delet the entire list

['banana', 'cherry']

#### 13) .clear()
`Syntax : list.clear()`

this will empty list

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### 14) .sort()
`Syntax : list.sort() >> Ascending order`

`Syntax : list.sort(reverse = True) >> Descending order`

will sort items in list alphabetically or numers in ascending order by default

In [43]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [44]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [46]:
# In a case if we want sorting in a reversed alphabetical order or in a descending order

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [47]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [48]:
# sort() function is a case sensitive, resulting in all capital letters being sorted before lower case letters.

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [49]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(reverse=True)
print(thislist)

['cherry', 'banana', 'Orange', 'Kiwi']

In [50]:
# If we want sort() function as insensitive to case

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

#### 15) sorted()
`Syntax : sorted(list_name)`

 will return a new sorted list leaving the original list unchanged

In [5]:
numbers = [10,30,46,78,8,12,80]
sorted(numbers)

[8, 10, 12, 30, 46, 78, 80]

In [6]:
numbers

[10, 30, 46, 78, 8, 12, 80]

In [7]:
numbers = [10,30,46,78,8,12,80]
print("Original list",numbers)
sorted_numbers = sorted(numbers)
print("Sorted list", sorted_numbers)

Original list [10, 30, 46, 78, 8, 12, 80]
Sorted list [8, 10, 12, 30, 46, 78, 80]

#### 16) .reverse()
`Syntax : list.reverse()`

reverses the current sorting order of the elements.

In [51]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [65]:
# personal mock doubt: Yup I made it!

str1 = 'Omkar Fadtare'
list1 = str1.split()
list2 = (list(reversed(list1)))
print(" ".join(list2))

Fadtare Omkar

#### 17) resversed()
`Syntax : reversed(list)`

will return a new reversed list leaving the original list unchanged

In [9]:
numbers = [10,30,46,78,8,12,80]
reversed_list = list(reversed(numbers))
reversed_list

[80, 12, 8, 78, 46, 30, 10]

In [10]:
numbers

[10, 30, 46, 78, 8, 12, 80]

In [23]:
str1 = 'Omkar Fadtare'
list1 = str1.split()
list2 = (list(reversed(list1)))
print(" ".join(list2))

Fadtare Omkar

In [24]:
str1 = 'omkar fadtare'
list1 = str1.split()
list1.reverse()
print(list1)
print(" ".join(list1))

#list2 = (list(reversed(list1))) # another method using reversed function
#print(" ".join(list2))

['fadtare', 'omkar']
fadtare omkar

#### 18) .extend()
`Syntax : list1_name.extend(list2_name/item)`

adds an element to th list`

In [19]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]

l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
l1 = [1,2,3,4,5] # here lies the difference between append and extend.
l1.extend("ethans")
print(l1)

[1, 2, 3, 4, 5, 'e', 't', 'h', 'a', 'n', 's']

In [21]:
l1 = [1,2,3,4,5]
l1.extend([1,2,3,4,5])
print(l1)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### joining two list

In [69]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [71]:
# using append function

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [72]:
# using extend function

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#### 19) .copy()
this will create a copy of an existing list

In [27]:
# Simple method

list1 = [10,20,30,40,50]
list2 = list1


print('list1 >> ',list1 )
print('list2 >> ',list2 )


list2[3] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 40, 50]
list1 >>  [10, 20, 30, 'data', 50]
list2 >>  [10, 20, 30, 'data', 50]

In [28]:
list1 = [10,20,30,40,50]
list2 = list1.copy()


print('list1 >> ',list1 )
print('list2 >> ',list2 )

list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 40, 50]

In [29]:
list2[3] = 'data'

print('list1 >> ',list1 )
print('list2 >> ',list2 )

list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 'data', 50]

In [31]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()

print(thislist)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

#### Shallow copy-Deep copy

1) If we use shallow copy for nested list and make changes in copied list, these changes will also reflects in original list also.

2) Shallow copy only works for nested list.

3) If we use shallow copy function in normal list and make changes in copied list, these changes will not reflect in original list.

4) Deep copy works same for list and nested list, that means if we make changes in copied list, changes will not reflect into original list.

5) If we make changes in original list instead of copied list, above rules remain same. It does not matter whether you are making changes in original list or copied list.

#### i) Shallow copy

In [32]:
list1 = [[10,20],[30,40],[50,60]]
list2 = list1.copy()  # Shallow copy

print('list1 >> ',list1 )
print('list2 >> ',list2 )

list1 >>  [[10, 20], [30, 40], [50, 60]]
list2 >>  [[10, 20], [30, 40], [50, 60]]

In [33]:
list2[2][0] = 10000

print('list1 >> ',list1 )
print('list2 >> ',list2 )

list1 >>  [[10, 20], [30, 40], [10000, 60]]
list2 >>  [[10, 20], [30, 40], [10000, 60]]

In [43]:
list1 = [['py','pyth','python'],['mach','machine','leaning'],['data','sci','science']]
list2 = list1.copy()
print(list1)
print(list2)

list2[0][1] = 'deep learning'
print('After copy function',list1)
print('After copy function',list2)

[['py', 'pyth', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]
[['py', 'pyth', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]
After copy function [['py', 'deep learning', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]
After copy function [['py', 'deep learning', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]

In [44]:
list1 = ['python',['machine leaning','data science']]
list2 = list1.copy()
print(list1)
print(list2)

list2[0] = 'deep learning'
print('After copy function',list1)
print('After copy function',list2)

['python', ['machine leaning', 'data science']]
['python', ['machine leaning', 'data science']]
After copy function ['python', ['machine leaning', 'data science']]
After copy function ['deep learning', ['machine leaning', 'data science']]

In [36]:
list1 = ['py','pyth','python','mach','machine','leaning','data','sci','science']
list2 = list1.copy()
print(list1)
print(list2)

list2[1] = 'deep learning'
print('After copy function',list1)
print('After copy function',list2)

['py', 'pyth', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']
['py', 'pyth', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']
After copy function ['py', 'pyth', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']
After copy function ['py', 'deep learning', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']

In [52]:
list1 = [1,2,3,4,5,6]
list2 = list1.copy()
print(list1)
print(list2)

list1[0] = 'python'
print('After copying',list1)
print('After copying',list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
After copying ['python', 2, 3, 4, 5, 6]
After copying [1, 2, 3, 4, 5, 6]

In [53]:
list1 = [[1,2,3],4,5,6]
list2 = list1.copy()
print(list1)
print(list2)

list1[0][1] = 'python'
print('After copying',list1)
print('After copying',list2)

[[1, 2, 3], 4, 5, 6]
[[1, 2, 3], 4, 5, 6]
After copying [[1, 'python', 3], 4, 5, 6]
After copying [[1, 'python', 3], 4, 5, 6]

#### ii) Deep copy

In [45]:
import copy # We have to import copy module to use deep copy

In [46]:
list1 = [['py','pyth','python'],['mach','machine','leaning'],['data','sci','science']]
list2 = copy.deepcopy(list1)
print(list1)
print(list2)

list2[0][1] = 'deep learning'
print('After copy function',list1)
print('After copy function',list2)

[['py', 'pyth', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]
[['py', 'pyth', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]
After copy function [['py', 'pyth', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]
After copy function [['py', 'deep learning', 'python'], ['mach', 'machine', 'leaning'], ['data', 'sci', 'science']]

In [47]:
list1 = ['python',['machine leaning','data science']]
list2 = copy.deepcopy(list1)
print(list1)
print(list2)

list2[0] = 'deep learning'
print('After copy function',list1)
print('After copy function',list2)

['python', ['machine leaning', 'data science']]
['python', ['machine leaning', 'data science']]
After copy function ['python', ['machine leaning', 'data science']]
After copy function ['deep learning', ['machine leaning', 'data science']]

In [48]:
list1 = ['py','pyth','python','mach','machine','leaning','data','sci','science']
list2 = copy.deepcopy(list1)
print(list1)
print(list2)

list2[1] = 'deep learning'
print('After copy function',list1)
print('After copy function',list2)

['py', 'pyth', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']
['py', 'pyth', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']
After copy function ['py', 'pyth', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']
After copy function ['py', 'deep learning', 'python', 'mach', 'machine', 'leaning', 'data', 'sci', 'science']

In [50]:
list1 = [1,2,3,4,5,6]
list2 = copy.deepcopy(list1)
print(list1)
print(list2)

list1[0] = 'python'
print('After copying',list1)
print('After copying',list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
After copying ['python', 2, 3, 4, 5, 6]
After copying [1, 2, 3, 4, 5, 6]

In [51]:
list1 = [[1,2,3],4,5,6]
list2 = copy.deepcopy(list1)
print(list1)
print(list2)

list1[0][1] = 'python'
print('After copying',list1)
print('After copying',list2)

[[1, 2, 3], 4, 5, 6]
[[1, 2, 3], 4, 5, 6]
After copying [[1, 'python', 3], 4, 5, 6]
After copying [[1, 2, 3], 4, 5, 6]

#### List constructor

In [54]:
str1 = 'python'
print(str1, type(str1))

list1 = list(str1)       # list constructor
print(list1, type(list1))

python <class 'str'>
['p', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [56]:
list1 = list('data')
print(list1)

['d', 'a', 't', 'a']

In [57]:
# list to string

''.join(list1)

'data'

In [59]:
str1 = 'python and data science'
''.join(str1.split(' '))

'pythonanddatascience'

#### List comprehension
It is a shortest way of writing a code, developers use this mehod.

`syntax: `

new_list = [expression for item in list1]

new_list = [expression for item in list1 if condition]

In [61]:
# Basic way-

even_list = []
odd_list = []

for i in range(1,11):
    if (i%2 == 0):
        even_list.append(i)
    else:
        odd_list.append(i)
        
print('even_list',even_list)
print('odd_list',odd_list)

even_list [2, 4, 6, 8, 10]
odd_list [1, 3, 5, 7, 9]

In [109]:
# Advanced way- using list comprehension

even = []
odd = []


list1 = [(i,even.append(i) if i%2 == 0 else odd.append(i))for i in range(1,11)]
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [110]:
weekdays = ["Monday", "Tuesday", "Wednesday"]
upper_weekdays = [days.upper() for days in weekdays]
upper_weekdays

['MONDAY', 'TUESDAY', 'WEDNESDAY']

In [111]:
list1 = [2,3,4,5,6,7,8,9]

even_numbers = [num for num in list1 if num % 2 == 0]
even_numbers

[2, 4, 6, 8]

In [112]:
list1 = [4,1,3,6,7,8,10,11,34,36,20,55,77,99,100]

even = [ num**2  for num in  list1   if num%2 == 0 and num<15] 
even

[16, 36, 64, 100]

In [113]:
weekdays = ['Sunday', 'Monday','Tuesday','Wednesday','Thursday','Friday',"Saturday"]

list6 = [day.upper() for day in weekdays if len(day) > 6]
list6

['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'SATURDAY']

In [114]:
weekdays = ['Sunday', 'Monday','Tuesday','Wednesday','Thursday','Friday',"Saturday"]

l1 = [i.upper() for i in weekdays if len(i)==6]
l1

['SUNDAY', 'MONDAY', 'FRIDAY']

In [6]:
even_squares = []
odd_squares = []
list1 = [even_squares.append(i**2) if i%2==0 else odd_squares.append(i**2) for i in range(1,21)]
print(even_squares)
print(odd_squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [10]:
# Cartesian product: Number of possibilities
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = [(a,b) for a in list1 for b in list2]
print(f'There can be {len(list3)} possibilities.')
list3

There can be 16 possibilities.

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8)]