#### Strings 
strings are nothing but sequence of characters or words and are denoted by single quote or double quote. For multiline comment three single or double quotes are used.

#### features of string
- Strings are immutable
- We cannot modify string once created

__Why strings are immutable?__
- Strings are made immutable so that programmers can not alter the contents of object, which avoids unnecessary bugs.

#### Types of cases

`omkarfadtare` - lower_case, flat_case, lazy_case

`OMKARFADTARE` - upper_case

`omkarFadtare` - (lower) camel_case

`OmkarFadtare` - (upper) camel_case, pascal_case

`omakr_fadtare` - snake_case

`Omkar_Fadtare` - camel_snake_case

`OMKAR_FADTARE` - screaming_snake_case

`omkar-fadtare` - kebab_case, caterpillar_case, spinal_case, css_case

`OMKAR-FADTARE` - screaming_kabab_case

`Omkar-Fadtare` - HTTP_header_case

In [14]:
a = 'python'
print(a)

python

In [15]:
b = ' data science'
print(b)

 data science

In [16]:
c = """Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
Its language constructs and object-oriented approach aim to help programmers write clear,
logical code for small- and large-scale projects."""
print(c)

Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
Its language constructs and object-oriented approach aim to help programmers write clear,
logical code for small- and large-scale projects.

#### String slicing: 
slicing of a string is nothing but accessing specified part (substring) of a given string using indexing/numerical values.

By default value for start index is 0, end index is len(str1), step size is 1. for negative slicing by default staring value will be len(str1),step size value will be -1.

 `p  y  t  h  o  n`
 
 `0  1  2  3  4  5  # Positive`
 
`-6 -5 -4 -3 -2 -1  # Negative`

In [19]:
str1 = 'python'
print(str1[::])

python

In [20]:
str1 = 'python'
print(str1[0:len(str1):1])

python

In [21]:
str1 = 'python'
print(str1[::2])

pto

In [22]:
str1 = 'python'
print(str1[::-1])

nohtyp

In [23]:
str1 = 'python'
print(str1[-1::-1])

nohtyp

#### String concatnation
string concatnation is used to combine 2 strings using + operator.

In [26]:
str1 = 'python'
str2 = 'and data science'
str3 = str1+' '+str2
print(str3)

python and data science

In [7]:
str1 = 'Data'
print(str1*5)

DataDataDataDataData

In [8]:
var1 = '5'
var2 = '6'
var3 = var1 + var2
print(var3)

56

In [9]:
var3 = int(var1) + int(var2)
var3

11

In [10]:
folder_path = r"C:\Users\suchita.berde\AppData\Local\Programs"
file_name = 'String_Functions'
file_path = folder_path + '\\' + file_name
print(file_path)

C:\Users\suchita.berde\AppData\Local\Programs\String_Functions

#### String functions

- upper()
- lower()
- capitalize()
- title()
- casefold()
- swapcase()
- lsrtip()
- rstrip()
- strip()
- center
- rjust()
- ljust()
- zfill()
- replace()
- split()
- join()
- count()
- expandtabs()
- index()
- find()
- endswith()
- startswith()
- isspace()
- istitle()
- isupper()
- islower() 
- isalnum()
- isalpha()
- isdecimal()
- isdigit()
- isnumeric()

#### 1) .upper()
`Syntax : var.upper()`

returns a copy of string in uppercase.

In [27]:
str1 = 'python'
str2 = 'data science'
print(str1.upper())
print(str2.upper())

PYTHON
DATA SCIENCE

#### 2) .lower()
`Syntax : var.lower()`

returns a copy of a string in lowercase.

In [28]:
str1 = 'PYTHON'
str2 = 'DATA SCIENCE'
print(str1.lower())
print(str2.lower())

python
data science

In [29]:
aadhar_name = 'Virat Kohli'
pan_name = 'VIRAT KOHLI'
aadhar_name == pan_name

False

In [30]:
a = aadhar_name.lower()
b = pan_name.lower()

print(a)
print(b)
print(a == b)

virat kohli
virat kohli
True

In [31]:
aadhar_name.lower() == pan_name.lower()

True

#### 3) .capitalize()
`Syntax : var.capitalize()`

capitalize only first character of the string.

In [57]:
str1 = 'python'
str2 = 'data science'
print(str1.capitalize())
print(str2.capitalize())

Python
Data science

#### 4) .title()
`Syntax : var.title()`

capitalize first char of each word from a string.

In [62]:
aadhar_name = 'Virat kohli'
pan_name = 'VIRAT KOHLI'
print(aadhar_name.title())
print(pan_name.title())

Virat Kohli
Virat Kohli

#### 5) .casefold()

`var.casefold()`
converts all the characters from a string into lower case.

In [58]:
str1 = 'PYTHon and Data SCIENCE'
print(str1.casefold())

python and data science

#### 6) .swapcase()
`Syntax : var.swapcase()`

inverts cases of all characters that is lower to upper and upper to lower.

In [63]:
str1 = 'Machine Learning'
print(str1.swapcase())

mACHINE lEARNING

#### 7) .lstrip()
`Syntax : var.lstrip()`

removes the leading whitespace characters from a string.

In [32]:
aadhar_name = '       VIRAT KOHLI'
pan_name = 'VIRAT KOHLI'

In [33]:
aadhar_name = aadhar_name.lstrip()
print(aadhar_name)
pan_name = pan_name.lstrip()
print(pan_name)
aadhar_name == pan_name

VIRAT KOHLI
VIRAT KOHLI

True

In [34]:
aadhar_name = '       Virat Kohli'
pan_name = '    VIRAT KOHLI'

aadhar_name = aadhar_name.lstrip().lower()
pan_name = pan_name.lstrip().lower()

if aadhar_name == pan_name:
    print("Both the names are same")
else:
    print("Both the names are different")

Both the names are same

#### 8) .rstrip()
`Syntax : var.rstrip()`

removes the trailing whitespace characters from a string.

In [35]:
aadhar_name = 'Virat Kohli        '
pan_name = 'VIRAT KOHLI       '

if aadhar_name == pan_name:
    print("Both the names are same")
else:
    print("Both the names are different")

Both the names are different

In [36]:
aadhar_name = aadhar_name.lower()
print(aadhar_name)
pan_name = pan_name.lower()
print(pan_name)

virat kohli
virat kohli

#### 9) .strip()
`Syntax : var.strip()`

removes both the leading and trailing white space characters from a string.

In [37]:
aadhar_name = '       VIRAT KOHLI        '
pan_name =    '   VIRAT KOHLI       '

if aadhar_name == pan_name:
    print("Both the names are same")
else:
    print("Both the names are different")

Both the names are different

In [38]:
aadhar_name = aadhar_name.strip()
print(aadhar_name)
pan_name = pan_name.strip()
print(pan_name)

VIRAT KOHLI
VIRAT KOHLI

#### 9) .center()
`Syntax : var.center(count, char(optional))`

method will center align the string, using a specified character (space is default) as the fill character.

In [59]:
txt = "banana"
x = txt.center(20, "*")
print(x)

*******banana*******

#### 10) .rjust()
`Syntax : var.rjust(count, char(optional))`

returns a right justified version of the string.

In [61]:
s = "python language"
print(s.rjust(30,'*'))

***************python language

#### 11) .ljust()
`Syntax : var.ljust(count, char(optional))`

returns a left justified version of the string.

In [64]:
s = "python language"
print(s.ljust(30,'*'))

python language***************

#### 12) .zfill() 
`Syntax : string.zfill(len)`

adds zeros (0) at the beginning of the string, until it reaches the specified length.

In [65]:
txt = "50"
x = txt.zfill(10)
print(x)

0000000050

#### 13) .replace()
replaces a string or a character with another string or character.

`Syntax : var.replace('old value/char/word', 'new value/char/word', count)`

Count (optional) refers to a number specifying how many occurrences of the old value you want to replace. Default is all occurrences.

In [39]:
str1 = 'Python and Data Science class'
str2 = str1.replace('Python','JAVA')
print('Updated stirng :',str2)

Updated stirng : JAVA and Data Science class

In [40]:
str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning OUT'''
str2 = str1.lower()
str2.replace("a","*").replace("e","*").replace("i","*").replace("o","*").replace("u","*")

'pyth*n *nd d*t* sc**nc*, pyth*n *s pr*gr*mm*ng l*ng**g*,\npyth*n *s *s*d f*r\nm*ch*n* l**rn*ng *nd d**p l**rn*ng **t'

In [1]:
str1 = 'Python and Data Science class.'
str2 = str1.replace(' ','*')
print('Updated stirng :',str2)

Updated stirng : Python*and*Data*Science*class.

In [2]:
str1 = 'Python and Data Science class.'
str2 = str1.replace(' ','')
print('Updated stirng :',str2)

Updated stirng : PythonandDataScienceclass.

In [3]:
string = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning OUT'''
string.replace('a','*').replace('e','*').replace('i','*').replace('o','*').replace('u','*')

'Pyth*n *nd D*t* Sc**nc*, Pyth*n *s pr*gr*mm*ng L*ng**g*,\nPyth*n *s *s*d f*r\nM*ch*n* L**rn*ng *nd D**p L**rn*ng OUT'

#### 14) .split()
`Syntax : string.split(separator(optional), maxsplit(optional))`

returns list of words or characters from a given string.

In [41]:
str1 = 'Python'
str1.split()

['Python']

In [42]:
str1 = "python and Data Science"
list1 = str1.split()
print(list1)
print(type(list1))

['python', 'and', 'Data', 'Science']
<class 'list'>

In [43]:
# Joining list again to string

str2 = ' '.join(list1)
str2

'python and Data Science'

#### 15) .join()
`Syntax : char.join(var)`

joins elements of an iterable.

In [44]:
str1 = 'python and data science'
print('*'.join(str1.split()))

python*and*data*science

#### 16) .count()
`Syntax : var.count('string', start_index(optional), end_index(optional))`

returns the count of any word or char in the string.

In [49]:
str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning'''
str1.count('Python')

3

In [50]:
str1 = 'python class python'
str1.count('p',2,15) # thon class pyth

1

#### 17) .expandtabs()

`syntax : string.expandtabs(tabsize)`

sets the tab size to the specified number of whitespaces.

In [54]:
str1 ="H\te\tl\tl\to"

print(str1.expandtabs(2))
print(str1.expandtabs(3))

H e l l o
H  e  l  l  o

#### 18) .index()
`Syntax : var.index('substring',start_index(optional),end_index(optional))`

returns index of any character or word from a given string.

In [40]:
str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning'''
str1.index('Deep')

97

In [41]:
str1.index(' ') # returns index of first occurance

6

In [43]:
str1.index('Learning', 93,200)

102

#### 19) .find()
`Syntax : var.find('substring',start_index(optional),end_index(optional))`

returns index of any character or word from a given string, difference between index() and find() function is that, in index() function, if substring is not found in a main string it will give you an error whereas in find() function it will return -1

In [46]:
str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning'''
str1.find("deep Learning")

-1

In [53]:
str1 = 'Python and data science'
substr = 'Data'

index = str1.find(substr)

if index == -1:
    print(f'{substr} is not present')
    
else:
    print(f'{substr} is present')

Data is not present

#### 20) .endswith()
`string.endswith(value, start(optional), end(optional))`

returns True if a string endswith a specified substring else returns False

In [55]:
str2 = 'data science'
str1.endswith("e")

True

In [56]:
str2 = 'data science'
str1.endswith("i")

False

In [57]:
str1 = r'C:\Users\suchita.berde\Suchita\Personal\Velocity_19 March 2022\04_04 String_If_else\Hello.txt'
filepath = str1.endswith(".txt")
print(filepath)

True

In [58]:
str1 = r'C:\Users\suchita.berde\Suchita\Personal\Velocity_19 March 2022\04_04 String_If_else\Hello.txt'

if str1.endswith(".txt"):
    print("This is a text file")
else:
    print("Not a text file")

This is a text file

In [60]:
# Tricky:

In [59]:
import os

In [61]:
folder_path =  r'F:\Omkar Phadtare\Study Material\Velocity\Answers\Pdf'
file_name_list = os.listdir(folder_path)
print(file_name_list)

['Assignment no1.pdf', 'Theory Questions (Python).pdf']

In [62]:
for i in file_name_list:
    print("file name is :",i)

file name is : Assignment no1.pdf
file name is : Theory Questions (Python).pdf

In [64]:
for files in file_name_list:
    if files.endswith(".txt"):
        print("file is a text file :",files)
    else:
        print("file is not a text file",files)

file is not a text file Assignment no1.pdf
file is not a text file Theory Questions (Python).pdf

In [65]:
for files in file_name_list:
    if files.endswith(".pdf"):
        print("file is a text file :",files)
    else:
        print("No files found")

file is a text file : Assignment no1.pdf
file is a text file : Theory Questions (Python).pdf

#### 21) .startswith()
`Syntax : string.startswith(value, start(optional), end(optional))`

returns True if a string startswith a specified substring else returns False

In [66]:
str1 = 'python'
str1.startswith('p')

True

#### 22) .isspace()
`Syntax : var.isspace()`

returns True if string only contains space or whitespace character, otherwise False. empty string not allowed.

In [69]:
string = '\t'
string.isspace()

True

In [68]:
string = '\n'
string.isspace()

True

In [67]:
string = ' '
string.isspace()

True

In [66]:
string = '' # Empty string space is not there
string.isspace()

False

#### 23) .istitle()
`Syntax : var.istitle()`

returns True if string is in a title case (every character of word is uppercase) otherwise False.

In [70]:
str1 = 'Python Data Science'
str1.istitle()

True

In [71]:
str1 = 'Python data Science'
str1.istitle()

False

#### 24) .isupper()
`Syntax : var.isupper()`

function in python returns True if all the characters in a given string are in upper case, otherwise False.

In [72]:
string = 'DATA'
string.isupper()

True

In [73]:
string = "DATA SCIENCE 1234 &*^%"
string.isupper()

True

In [74]:
string ="DATa"
string.isupper()

False

#### 25) .islower()
`Syntax : var.islower()`

function in python returns True if all the characters in a given string are in lower case, otherwise False.

In [75]:
string = "Python 2345"
string.islower()

False

In [76]:
string = string.lower()
print(string)

python 2345

#### 26) .isalnum()
`Syntax : var.isalnum()`

returns True if string is alphanumeric (a-z),(A-Z),(0-9) else returns False (does not allow special and whitespace characters)

In [68]:
str1 = 'python'
str1.isalnum()

True

In [69]:
str1 = 'DataScience123'
str1.isalnum()

True

In [70]:
str1 = 'DataScience 123'
str1.isalnum()

False

#### 27) .isalpha()
`Syntax : var.isalpha()`

returns True if string consist of alphabets (a-z),(A-Z) else returns False (does not allow digits, special and whitespace characters)

In [72]:
string = 'python' #lower case
string.isalpha()

True

In [73]:
string = 'PYTHON' #UPPER case
string.isalpha()

True

In [74]:
string = 'PYTHON CLASS'
string.isalpha()

False

#### 28) .isdecimal()
`Syntax : var.isdecimal()`

returns True if string contains digits and unicoes of digits else returns False (does not allow characters and unicodes of characters, special and whitespace characters)

In [78]:
mobile_num = '99'
print(mobile_num.isdecimal())

True

In [79]:
num = '\u0039' # unicode of digit 9
num.isdecimal()

True

In [80]:
number = '3.14'
number.isdecimal()

False

#### 29) .isdigit()
`Syntax : var.isdigit()`

function in python returns True if all the characters in a given string are digits, Unicode’s of digits, subscripts and superscripts unicodes otherwise it returns False.

In [81]:
num = '\u0039'  # digit 9
print(num.isdecimal())
print(num.isdigit())

True
True

In [82]:
superscript_2 = "\u00B2" # "superscript of 2"
print(superscript_2.isdecimal())
print(superscript_2.isdigit())

False
True

In [83]:
subscript_2 = "\u2082" # "subscript of 2"
print(superscript_2.isdecimal())
print(superscript_2.isdigit())

False
True

#### 30) .isnumeric()
`Syntax : var.isnumeric()`

function in python returns True if all the characters in a given string are digits, Unicode’s of digits, subscripts and superscripts or vulgar characters otherwise it returns False. vulgar characters are nothing but fraction 4/5

In [84]:
vulgar_fraction_half = '\u00BD' 
print(vulgar_fraction_half.isdecimal())
print(vulgar_fraction_half.isdigit())
print(vulgar_fraction_half.isnumeric())

False
False
True