#### Loops:
There are two types of loops
- for loop
- while loop

#### for loop
for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).

In [1]:
str1 = 'python'
for i in str1:
    print(i)

p
y
t
h
o
n

In [2]:
str1 = 'science'
for letter in str1:
    print('Hello', letter)
    print("*******")

Hello s
*******
Hello c
*******
Hello i
*******
Hello e
*******
Hello n
*******
Hello c
*******
Hello e
*******

In [3]:
str1 = 'science'
for alpha in str1:
    print(str1)
    print(f'{alpha} is Char')
    print("*****")

science
s is Char
*****
science
c is Char
*****
science
i is Char
*****
science
e is Char
*****
science
n is Char
*****
science
c is Char
*****
science
e is Char
*****

In [4]:
fruits = ["apple", "banana", "cherry"] # accessing elements from a list
for x in fruits:
    print(x)

apple
banana
cherry

In [5]:
list1 = [11,12,13,14,15,16,17,18,19,20]
for var in range (0,10):
    print(list1[var])

11
12
13
14
15
16
17
18
19
20

In [6]:
list1 = [11,12,13,14,15,16,17,18,19,20]
for var in range (0,len(list1)):
    print(list1[var])

11
12
13
14
15
16
17
18
19
20

In [7]:
list1 = [10,14,15,7,8,98,65,27,83,96,66,43]
for var in list1:
    print(var)

10
14
15
7
8
98
65
27
83
96
66
43

In [1]:
list1 = [10,14,15,7,8,98,65,27,83,96,66,43]
for i,j in enumerate(list1):
    print(i,j)

0 10
1 14
2 15
3 7
4 8
5 98
6 65
7 27
8 83
9 96
10 66
11 43

In [2]:
str1 = 'Python'
for i,j in enumerate(str1):
    print(i,j)

0 P
1 y
2 t
3 h
4 o
5 n

#### Loop control statements

#### 1) break
Used to exit the for loop, break statement stop the loop before it has looped through all the items.

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x) # position

apple

#### 2) continue
Used to stop only current iteration, and continue with next iterations.

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [2]:
for i in range(10):
    print(i)
    if i == 7:
        print("Required value found")
        continue

0
1
2
3
4
5
6
7
Required value found
8
9

In [3]:
for i in range(10):  # 0 to 9
    print(i)  # 0,1,2,3,4,5,6,7, 8, 9
    if i == 7:  # i = 7 , True
        continue
        print("Required value found")

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10):
    if i == 7:
        print("Required value found")
        continue
    print(f" i == {i}")
    print('******************')

 i == 0
******************
 i == 1
******************
 i == 2
******************
 i == 3
******************
 i == 4
******************
 i == 5
******************
 i == 6
******************
Required value found
 i == 8
******************
 i == 9
******************

#### 3) range
range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [11]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [12]:
for x in range(2,6): # (include, exclude)
    print(x)

2
3
4
5

In [13]:
for x in range(2, 30, 3): # (start,end,step)
    print(x)

2
5
8
11
14
17
20
23
26
29

In [14]:
print("code started")
for variable in range(0,10): # (Range is up to only 10)
    print("hello") # Is known as block of code
print("code executed")

code started
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
code executed

In [15]:
print("code started")
for temp in range (0,100,51): 
    print(temp)

code started
0
51

In [16]:
print("code started")
for temp in range (10,0,-1): # Reverse direction- so we have to tell interpreter by giving (-1)
    print(temp)

code started
10
9
8
7
6
5
4
3
2
1

In [17]:
print("code started")
for temp in range (10,0,-2): # Reverse direction- so we have to tell interpreter by giving (-1)
    print(temp)

code started
10
8
6
4
2

#### 4) pass
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [18]:
for x in [0, 1, 2]:
    pass

In [5]:
for i in range(10):
    if i == 7:
        pass
    
    else:
        print("*********")

*********
*********
*********
*********
*********
*********
*********
*********
*********

In [6]:
for i in range(10):
    if i == 7:
        print("Required  value found")
        pass
    
    else:
        print("*********")

*********
*********
*********
*********
*********
*********
*********
Required  value found
*********
*********

#### 5) else in for loop
else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [19]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [20]:
for x in range(6):
    if x == 3: break # The else block will NOT be executed if the loop is stopped by a break statement.
    print(x)
else:
    print("Finally finished!")

0
1
2

In [7]:
for i in range(5,11): # 5 to 10
    print(f"i == {i}") # 5, 6, 7 , 8
    if i == 8:
        break
        
else:      
    print('Loop Completed')

i == 5
i == 6
i == 7
i == 8

In [8]:
for i in range(5,11): # 5 to 10
    print(f"i == {i}") # 5, 6, 7 , 8, 9 , 10
    if i == 8:
        continue
        print("************")
        
    print("################")
else:      
    print('Loop Completed')

i == 5
################
i == 6
################
i == 7
################
i == 8
i == 9
################
i == 10
################
Loop Completed

In [9]:
for i in range(5,11): # 5 to 10
    print(f"i == {i}") # 5, 6, 7 , 8, 9, 10
    if i == 8:
        print("Value Found")
else:      
    print('Loop Completed')

i == 5
i == 6
i == 7
i == 8
Value Found
i == 9
i == 10
Loop Completed

#### 6) Nested loop (inner loop)
The "inner loop" will be executed one time for each iteration of the "outer loop"

In [ ]:
for variable1 in sequence1:
    statement1
    statement2
    for variable2 in sequence:
        statement3
        statement4

In [ ]:
for variable1 in sequence1:
    statement1
    statement2
    for variable2 in sequence:
        statement3
        statement4
        for variable2 in sequence:
        statement3
        statement4

In [21]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [11]:
for i in range(5):
    print(f"i == {i}")
    for j in range(4):
        print("python")

i == 0
python
python
python
python
i == 1
python
python
python
python
i == 2
python
python
python
python
i == 3
python
python
python
python
i == 4
python
python
python
python

In [12]:
for i in range(5):
    print(f'i == {i}')
    for j in range(4):
        print("python")
    print("*****************")

i == 0
python
python
python
python
*****************
i == 1
python
python
python
python
*****************
i == 2
python
python
python
python
*****************
i == 3
python
python
python
python
*****************
i == 4
python
python
python
python
*****************

In [13]:
for i in range(4):
    print(f"i == {i}")
    for j in range(6):
        print('python')
    print()
    
print('Hello', end = '\n')
print(end = '\n')
print('Python')

i == 0
python
python
python
python
python
python

i == 1
python
python
python
python
python
python

i == 2
python
python
python
python
python
python

i == 3
python
python
python
python
python
python

Hello

Python

In [42]:
for i in range(4):
    print(f"i == {i}") # 0 ,1, 2, 3 
    for j in 'python': # p,y,t,h,o,n
        print(f'char is {j}')
    print()

i == 0
char is p
char is y
char is t
char is h
char is o
char is n

i == 1
char is p
char is y
char is t
char is h
char is o
char is n

i == 2
char is p
char is y
char is t
char is h
char is o
char is n

i == 3
char is p
char is y
char is t
char is h
char is o
char is n

In [15]:
for var1 in range(3):
    print(f"var1 == {var1}" )
    for var2 in [20, 30]:
        print(f'Number is {var2}')
        for char in 'python':
            print(f'Char is {char}')

var1 == 0
Number is 20
Char is p
Char is y
Char is t
Char is h
Char is o
Char is n
Number is 30
Char is p
Char is y
Char is t
Char is h
Char is o
Char is n
var1 == 1
Number is 20
Char is p
Char is y
Char is t
Char is h
Char is o
Char is n
Number is 30
Char is p
Char is y
Char is t
Char is h
Char is o
Char is n
var1 == 2
Number is 20
Char is p
Char is y
Char is t
Char is h
Char is o
Char is n
Number is 30
Char is p
Char is y
Char is t
Char is h
Char is o
Char is n

In [36]:
for i in range(5):
    for j in range(5):
        print('*',end = ' ')
    print() # default argument

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

#### Below are some practical examples for 'for loop'

#### 1) Predict whether the value is positive, negative or zero

In [22]:
# code to predict whether the value in list is positive, negative or zero

list2 = [-10,14,15,7,-1,0,65,27,83,-58,66,43]
for var in range (0,len(list2)):
    print(list2[var]," : ")
    if (list2[var] > 0):
        print("positive value")
    elif(list2[var] == 0):
        print("value is zero")
    else:
        print("value is negative")

-10  :
value is negative
14  :
positive value
15  :
positive value
7  :
positive value
-1  :
value is negative
0  :
value is zero
65  :
positive value
27  :
positive value
83  :
positive value
-58  :
value is negative
66  :
positive value
43  :
positive value

#### 2) Predict whether the value is even or odd

In [23]:
list1 = [10,14,15,7,8,98,65,27,83,96,66,43]

for var in range (0,len(list1)):
    print(list1[var], " : ")
    if (list1[var] % 2 == 0):
        print("entered number is even")
    else:
        print("given number is odd")

10  :
entered number is even
14  :
entered number is even
15  :
given number is odd
7  :
given number is odd
8  :
entered number is even
98  :
entered number is even
65  :
given number is odd
27  :
given number is odd
83  :
given number is odd
96  :
entered number is even
66  :
entered number is even
43  :
given number is odd

#### 3) Batch scheduling

In [24]:
days = ["mon","tue","wed","thurs","fri"]
batches = ["morning","evening"]

for day in days:
    for batch in batches:
        print(day,batch)
    print("\n")

mon morning
mon evening


tue morning
tue evening


wed morning
wed evening


thurs morning
thurs evening


fri morning
fri evening

#### 4) Factorial code

In [28]:
num1 = int(input("please enter any number: ")) # Define input function

factorial = 1 # Define factorial
for i in range (1,num1+1): # Define range (n+1) since we want 5*4*3*2*1 if we only write (num1) it will go only up to 4
    factorial = factorial*i # i = 1,2,3,4,5.. # Define the equation
print(factorial)

# Equation will work like-
# defined factorial value 1
# 1 * 1 = 1
# 1 * 2 = 2
# 2 * 3 = 6
# 6 * 4 = 24
# 24 * 5 = 120

please enter any number: 5
120

#### 5) Fibonacci series

In [3]:
# using for loop, my way or sky way

terms = int(input("please enter terms for fibonacci series: ")) # Define input
n1 = 0
n2 = 1 # Define variables n1,n2
if (terms <= 0):
    print("please enter value greater than zero") # Define condition if terms less than or equal to zero
else:
    for i in range(0,terms): # Define range
        n3 = n1 + n2 # Define fibonacci condition
        n1 = n2
        n2 = n3
        print(n1)

please enter terms for fibonacci series: 10
1
1
2
3
5
8
13
21
34
55

#### 6) Sorting data-typed variables

In [1]:
list1 = [2,3,4.5,20,5.14,'python',100,15,10,'data science',9.45]

intList = []
floatList = []
strList = []

for value in list1:
    if type(value) == int: 
        intList.append(value)
        
    elif type(value) == float:
        floatList.append(value)

    else:
        strList.append(value)
        
print("Integers :",intList)
print("Float :", floatList)
print("String",strList)

Integers : [2, 3, 20, 100, 15, 10]
Float : [4.5, 5.14, 9.45]
String ['python', 'data science']

#### 7) Prime number

In [1]:
n = 15
for i in range(2,n):
    print(i) 
    if n % i == 0:
        print(f"{n} is not a prime number")
        break # Have a look at me
else:
    print("It is a prime number")

2
3
15 is not a prime number

In [2]:
# Prime numbers between (50-100) 
for i in range(50,101):
    prime=0
    for j in range(2,i):
        if (i%j==0):
            prime=1
            break
    if(prime==0):
        print(i,end=', ')

53, 59, 61, 67, 71, 73, 79, 83, 89, 97,