#### Tuple ( )
Tuple is a group of elements. It is used to store multiple items in a single variable.

`Properties of Tuple:`
- Tuple items are comma  seprated
- Enclosed by parenthesis()
- Tuple is Ordered in nature
- Tuple is immutable
- Tuple is heterogeneous, can contain different data types
- Duplicate values are allowed

__Tuples are faster than list,Why?__
- Tuples are stored in a single block of memory. Tuples are immutable so, It doesn't require extra space to store new objects. - Whereas Lists are allocated in two blocks: the fixed one with all the Python object information and a variable-sized block for the data. It is the reason creating a tuple is faster than List.

In [1]:
tup = (1,2,3,4,5)
print(type(tup))

<class 'tuple'>

In [45]:
# Things to remember

tup = 1,2,3,4
print(type(tup))

<class 'tuple'>

In [2]:
tup

(1, 2, 3, 4, 5)

In [3]:
tup1 =("hello","hi","namste")
print(type(tup1))

<class 'tuple'>

In [4]:
tup1

('hello', 'hi', 'namste')

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
# There is a small catch watch carefully: difference between list and tuple containing only one element

# for list datatype

list1 = []
print(type(list1))

<class 'list'>

In [7]:
list1 = [1]
print(type(list1))

<class 'list'>

#### Tuple constructor

In [8]:
# for tuple datatype

tup1 = ()
print(type(tup1))

<class 'tuple'>

In [9]:
tup = ('python') # It wont be class tuple
print(type(tup))

<class 'str'>

In [10]:
tup1 = tuple('python') # Initialization # COnstructor # We have to specify class tuple for tuple having only one element
print(type(tup1))

<class 'tuple'>

In [12]:
# Alternate method for intialization tuple containng only one element

tup1 = ('python',) # just use comma
print(type(tup1))

<class 'tuple'>

#### Ordered 
use of indexing is possible and therefore slicing is also possible.

In [13]:
# Indexing and range functions works same as list data type

t7 = (1,2,3,4,5,6)
print(t7[0])
print(t7[4])

1
5

In [14]:
# Slicing
t7 = (1,2,3,4,5,6)
print(t7[0:6:1])

(1, 2, 3, 4, 5, 6)

In [15]:
t7 = (1,'python',3,True,5,6)
print(t7[0:6:1])

(1, 'python', 3, True, 5, 6)

#### Heterogeneous
that basically means a list can contain string, float, int, another list etc.

In [17]:
tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('abc', 34, True, 40, 'male')

In [26]:
# Tuple can contain int, float, str, list, list of list, tuple, dictionary.

print(type(tup6))
print(len(tup6))
print(type(tup6[7]))
print(type(tup6[8]))
print(tup6)

<class 'tuple'>
9
<class 'list'>
<class 'dict'>
(10, 11, 3.4, 5.6, 'string', 'python', [21, 22, 23, 24, (31, 32, 33)], ['python', 1, True], {1: 'python', 2: 'data science'})

In [29]:
tup6 = (10,11,3.4,5.6,"string","python",[21,22,23,24,(31,32,33)],['python',1,True],{1:'python',2:'data science'})
print(tup6[6][4][1])
print(tup6[7][0])
print(tup6[8]) # doubt: How do I access keys, values, items from that dictionary

32
python
{1: 'python', 2: 'data science'}

#### Not mutable
Tuple data type is not mutable, we can not change exixting elements from tuple

In [18]:
# doubt

t9 =[()]
print(type(t9))

<class 'list'>

In [44]:
t9 = ()
print(type(t9))

<class 'tuple'>

In [42]:
t9 =([])
print(type(t9))

<class 'list'>

In [43]:
t9 =([1,2,3])
print(type(t9))

<class 'list'>

In [23]:
t9 =([],)
print(type(t9))

<class 'tuple'>

#### use of membership operator
to check whether the item exist in list or not

In [31]:
tup7 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if 'apple' in tup7:
    print('Item exist in the tuple')
else:
    print('Item not found')

Item exist in the tuple

In [32]:
tup8 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'papaya' not in tup8:
    print('you were right! Item is not present')
else:
    print('you were wrong! Item found!')

you were right! Item is not present

#### Indexing and slicing in tuple

In [8]:
tuple1 = (10,20,30,15,25,35,50,55)

print(tuple1[0])
print(tuple1[2:5])
print(tuple1[1:len(tuple1):2])
print(tuple1[::-1])
print(tuple1[len(tuple1):-4:-1])

10
(30, 15, 25)
(20, 15, 35, 55)
(55, 50, 35, 25, 15, 30, 20, 10)
(55, 50, 35)

#### Tuple operations

In [9]:
city_names = ("Mumbai", 'PUNE', 'Delhi')
state_names = ('Maharashtra','Gujarat')

city_names + state_names

('Mumbai', 'PUNE', 'Delhi', 'Maharashtra', 'Gujarat')

In [10]:
city_names = ("Mumbai", 'PUNE', 'Delhi')
state_names = ('Maharashtra','Gujarat')

city_names * 2

('Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi')

#### Accessing items using for loop

In [14]:
tuple1 = ('Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi')

for item in tuple1:
    print(item, end =", ")

Mumbai, PUNE, Delhi, Mumbai, PUNE, Delhi,

In [15]:
# Enumerate

tuple1 = ('Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi')

for index, item in enumerate(tuple1):
    print(index,item)

0 Mumbai
1 PUNE
2 Delhi
3 Mumbai
4 PUNE
5 Delhi

#### Tuple functions

#### 1) length()
returns length of the tuple

In [24]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [25]:
thistuple = ("apple", 2.4, 6, True, "cherry")
print(len(thistuple))

5

#### 2) type()
returns data type of tuple or the elements of tuple

In [19]:
tup1 = ("apple", "banana", "cherry")
print(type(tup1))

<class 'tuple'>

#### 3) .index()
`Syntax : tuple_name.index(item)`

returns index number of an item

In [20]:
sub_names = ("Phy", "Che", "Maths", "Eng", "Bio")
sub_names.index("Maths")

2

#### 4) .count()
`Syntax : tuple_name.count(item)`

returns the number of times a specified value occurs in a tuple

In [21]:
numbers = (3, 9.8, 6,7, 4.5, 20,30,40,6,6,6,6)
numbers.count(6)

5

#### 5) sum()
`Syntax : sum(tuple_name)`

returns sum of numbers in tuple

In [22]:
numbers = (10,30,46,78,8,12,80)
sum(numbers)

264

#### 6) min()
`Syntax : min(tuple_name)`
    
returns minimum number in the tuple

In [23]:
numbers = (10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9)
min(numbers)

-67

#### 7) max()
`Syntax : max(tuple_name)`

returns maximum number in the tuple

In [24]:
numbers = (10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9)
max(numbers)

80

#### Important

Since, Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created. But it can be done by converting the tuple into a list, change the list, and convert the list back into a tuple.

In [33]:
# adding item to tuple

tuple1 = ("apple", "banana", "cherry")
y = list(tuple1)
y.append("orange")
tuple1 = tuple(y)

print(tuple1)

('apple', 'banana', 'cherry', 'orange')

In [35]:
# removing item from tuple

tuple1 = ("apple", "banana", "cherry")
y = list(tuple1)
y.remove("apple")
tuple1 = tuple(y)

print(tuple1)

('banana', 'cherry')

In [36]:
# delete function can not be used to delete particular item from tuple, but it can be used to delete complete tuple

thistuple = ("apple", "banana", "cherry")
del thistuple
# print(thistuple)

#### Joining two tuple

In [34]:
tup1 = ('omkar','python','data','science')
tup2 = (1,2,3,4,5)

tup1 += tup2
print(tup1)

('omkar', 'python', 'data', 'science', 1, 2, 3, 4, 5)

#### Multiplying tuple

In [41]:
tup1 = (1,2,3,4,5)
tup2 = tup1*2
print(tup2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

#### Unpacking a tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple and to extract the values back into variables. This is called "unpacking".

In [37]:
# This is how we can access items from tuple

fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

#### Asterisk* (unpacking)
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.

In [39]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [38]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry