#### Set { }
Set is a group of elements. It is used to store multiple datatype items in a single variable.

`Properties of set:`
- Set items are comma seprated.
- Enclosed by curly brackets.
- Set is unordered in nature.
- Set is a mutable data type, but we can not insert elements in set, using indexing.
- Set is a partially heterogeneous,Set inside set, Dictionary and List datatypes are not allowed in set, Since they are mutable data type.
- Duplicates values are not allowed.
- Once a set is created, you cannot change its items, but you can add new items.

In [3]:
var = {1,2,3,4,5,6}
print(type(var))

<class 'set'>

In [5]:
var = {1,2,3,4,5,6,6,6,6,1,2,2,33}
print(type(var))
print(var)

<class 'set'>
{1, 2, 3, 4, 5, 6, 33}

In [6]:
# Empty curly bracket: Data type of an empty curly bracket is not set, It is a dictionary

var = {}
print(type(var))

<class 'dict'>

In [7]:
# Curly bracket consist of only one element is a set data type.

var = {2}
print(type(var))

<class 'set'>

#### Set constructor

In [8]:
var = set()
print(type(var))

<class 'set'>

In [9]:
var = list()
print(type(var))

<class 'list'>

In [10]:
var = ()
print(type(var))

<class 'tuple'>

In [11]:
var = dict()
print(type(var))

<class 'dict'>

In [2]:
# Tricky >>

set1 = set([1,2,3,4,5])
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5}

#### Not ordered
Set data type is not ordered in a nature, since index number and ordering of an element is not fixed.

In [12]:
set1 = {2,3,'a',5,1,'b',10,20,15,3.14,5.67}  # Unordered
set1

{1, 10, 15, 2, 20, 3, 3.14, 5, 5.67, 'a', 'b'}

In [13]:
set1 = {2,3,4,56,2,3,7,8.9,4.5,7.8, 'a', 'python',4.8}  # Duplicates are not allowed
print(set1, len(set1))

{2, 3, 4, 4.5, 4.8, 7, 8.9, 7.8, 'a', 'python', 56} 11

In [15]:
# Set datatype treats True,1 as same and False,0 as same

# True >> 1
# False >> 0

In [16]:
list1 = [2,3,"a",5.1,True,False,True,False,False]
print(len(list1))
print(list1)

9
[2, 3, 'a', 5.1, True, False, True, False, False]

In [18]:
set1 = {2,3,"a",5.1,True,False,True,False,False, 1,0,1,0,1,1,0,0}
print(len(set1))
print(set1)

6
{False, True, 2, 3, 5.1, 'a'}

#### Partially Heterogeneous
Set is a partially heterogeneous, since dictionary and list datatypes are not allowed in set.

In [21]:
# set, dictionary and list datatypes are not allowed (since those are mutable data types)

set1 = {1,2,3.3,5.6,'python','data science',True,False,(1,2,3,3.4,5.6,'python','data science',True, False)}
print(len(set1))
print(set1)

8
{'data science', 1, 2, 3.3, False, 5.6, 'python', (1, 2, 3, 3.4, 5.6, 'python', 'data science', True, False)}

#### Not mutable
We can not apply indexing and slicing in set data type

In [25]:
# We can not access items from a set, So how do we do that?
set1 = {'omkar','python'}
for items in set1:
    print('Item is: ',items)

Item is:  python
Item is:  omkar

#### Use of membership operator
To check whether the item present in set or not

In [26]:
set1 = {"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"}
if 'apple' in set1:
    print('Item exist in the set1')
else:
    print('Item not found')

Item exist in the set1

In [27]:
set1 = {"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"}
if 'papaya' not in set1:
    print('you were right! Item is not present')
else:
    print('you were wrong! Item found!')

you were right! Item is not present

#### Set functions
- add()
- update()
- union()
- remove()
- discard()
- pop()
- clear()
- intersection()
- intersection_update()
- difference()
- difference_update()
- symmetric_difference()
- symmetric_difference_update()
- issubset()
- issuperset()
- isdisjoint()
- copy()

#### 1) .add()
`Syntax : set_name.add(item)`

Used to add only one item in set

In [30]:
set1 = {3,4,5,6,7}
set1.add(1000)
print(set1)

{3, 4, 5, 6, 7, 1000}

In [31]:
set1 = {'phy', 'che', 'bio', 'eng', 'maths'}
set1.add('history')
print(set1)

{'history', 'che', 'phy', 'eng', 'maths', 'bio'}

#### 2) .update()
`Syntax : set_name1.update(set_name2)`

Used to add items from another set into the current set

In [32]:
sub_names1 = {'phy','che', 'maths'}
sub_names2 = {'bio','eng'}


print('Subject names 1 :', sub_names1)
print('Subject names 2 :', sub_names2)

sub_names1.update(sub_names2)

print('Subject names 1 :', sub_names1)
print('Subject names 2 :', sub_names2)

Subject names 1 : {'phy', 'maths', 'che'}
Subject names 2 : {'eng', 'bio'}
Subject names 1 : {'che', 'phy', 'maths', 'eng', 'bio'}
Subject names 2 : {'eng', 'bio'}

In [38]:
set1 = {10,20,30,40,50,60}
set2 = {5,15,25,35}

print('Set1 :', set1)
print('Set2 :', set2)

print()

print('Set1 length:', len(set1))
print('Set2 length:',len(set2))

print()

set1.update(set2)

print('Set1 :', set1)
print('Set2 :', set2)

print()

print('Set1 length:', len(set1))
print('Set2 length:',len(set2))

Set1 : {40, 10, 50, 20, 60, 30}
Set2 : {25, 35, 5, 15}

Set1 length: 6
Set2 length: 4

Set1 : {35, 5, 40, 10, 15, 50, 20, 25, 60, 30}
Set2 : {25, 35, 5, 15}

Set1 length: 10
Set2 length: 4

In [40]:
# It only update existing set and does not return a new set

set1 = {1,2,3,4,5}
set2 = {4,5,6,6,7,8}

set3 = set1.update(set2)

print("set1 >>", set1)
print("set2 >>", set2)
print("set3 >>", set3)

set1 >> {1, 2, 3, 4, 5, 6, 7, 8}
set2 >> {4, 5, 6, 7, 8}
set3 >> None

#### 3) .union()
`Syntax : set_name1.union(set_name2)`

returns a new set containing a union of set

In [39]:
# Union of two sets

set1 = {1,2,3,4,5}
set2 = {4,5,6,6,7,8}

set3 = set1.union(set2)

print("set1 >> ",set1)
print("set2 >> ",set2)
print("set3 >> ",set3)

set1 >>  {1, 2, 3, 4, 5}
set2 >>  {4, 5, 6, 7, 8}
set3 >>  {1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
# Union of a Set and Tuple is also a set

set1 = {1,2,3,4,5,6} #set
set2 = [4,5,6,6,7,8] #list

set3 = set1.union(set2)

print("set1 >>", set1)
print("set2 >>", set2)
print("set3 >>", set3)

set1 >> {1, 2, 3, 4, 5, 6}
set2 >> [4, 5, 6, 6, 7, 8]
set3 >> {1, 2, 3, 4, 5, 6, 7, 8}

#### 4) .remove()
`Syntax : set.remove(item)`

removes the specified element, It will give you an error if specified item is not present in the set

In [9]:
sub_names = {'eng','phy', 'maths', 'bio', 'che'}
sub_names.remove('phy')
sub_names

{'bio', 'che', 'eng', 'maths'}

In [8]:
set1 = {1,2,3,4,5,3}
value = 2

if value in set1:
    set1.remove(value)
    
print(set1, len(set1))

{1, 3, 4, 5} 4

#### 5) .discard()
`Syntax : set.discard(item)`

removes the specified item from the set

In [10]:
sub_names = {'eng','phy', 'maths', 'bio', 'che'} # 5
sub_names.discard('phy')
print(sub_names, len(sub_names))

{'eng', 'bio', 'phy', 'che', 'maths'} 5

#### 6) .pop()
`Syntax : set.pop()`

removes a random item from the set

In [12]:
sub_names = {'eng','phy', 'maths', 'bio', 'che'} # 5
print('Original set',sub_names )

sub_names.pop()
print(sub_names, len(sub_names))

Original set {'eng', 'bio', 'phy', 'che', 'maths'}
{'bio', 'phy', 'che', 'maths'} 4

In [7]:
set1 = {1,2,3,4,5,3}
set1.pop()
print(set1)
set1.pop()
print(set1)

{2, 3, 4, 5}
{3, 4, 5}

#### 7).clear()
`Syntax : set.clear()`

clears the set

In [12]:
set1 = {"python",'data','science',1,2,3,4,5,3}
set1.clear()
print("Set1",set1)

Set1 set()

#### 8) .intersection()
`set.intersection(set1, set2 ... etc)`

Return a set that contains the items that exist in both set x, and set y

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [14]:
set1 = {1,2,4,6,8}
set2 = {3,4,5,6,7,8}

intersected_items = set1.intersection(set2)
print(intersected_items)

{8, 4, 6}

#### 9) .intersection_update()
`Syntax : set.intersection_update(set1, set2 ... etc)`
    
removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [15]:
# Update

city_names1 = {'Pune','Mumbai',"Delhi"}
city_names2 = {"Pune",'Banglore',"Chennai"}

city_names1.update(city_names2)
city_names1

{'Banglore', 'Chennai', 'Delhi', 'Mumbai', 'Pune'}

In [16]:
# Intersection

city_names1 = {'Pune','Mumbai',"Delhi"}
city_names2 = {"Pune",'Banglore',"Chennai"}

result = city_names1.intersection(city_names2)
result

{'Pune'}

In [17]:
# Intersection_update

city_names1 = {'Pune','Mumbai',"Delhi"}
city_names2 = {"Pune",'Banglore',"Chennai"}

print('Original City names 1', city_names1)
print('original City names 2', city_names2)

city_names1.intersection_update(city_names2)

print('City names 1', city_names1)
print('City names 2', city_names2)

Original City names 1 {'Delhi', 'Mumbai', 'Pune'}
original City names 2 {'Banglore', 'Chennai', 'Pune'}
City names 1 {'Pune'}
City names 2 {'Banglore', 'Chennai', 'Pune'}

In [18]:
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,8,9}
# 3, 4, 5
set1.intersection_update(set2)

print('Set 1', set1)

Set 1 {3, 4, 5}

#### 10) .difference()
`Syntax : set.difference(set)`
    
returns a set that contains the difference between two set.

In [14]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Banglore','Chennai','Mumbai'}

result = set1.difference(set2)
result

{'Delhi', 'Hyderabad', 'Kolkata'}

In [21]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Banglore','Chennai','Mumbai'}

result = set2.difference(set1)
result

{'Banglore', 'Chennai'}

In [23]:
# Tricky

list1 = [3,4,5,6,7,8]
list2 = [5,6,7,8,10,20] #10,20

result = set(list2).difference(list1)
result

{10, 20}

In [25]:
# Or

list1 = [3,4,5,6,7,8]
list2 = [5,6,7,8,10,20] #10,20

result = []
for items in list2:
    if items not in list1:
        result.append(items)
result

[10, 20]

In [26]:
list1 = [3,4,5,6,7,8]  #3,4
list2 = [5,6,7,8,10,20] 

result = set(list1).difference(list2)
result
list(result)

[3, 4]

#### 11) .difference_update()
`Syntax : set.difference_update(set1, set2 ... etc)`
    
removes the items that exist in both sets.

In [28]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} # 'Delhi', 'Kolkata', 'Hyderabad'
set2 = {"Pune",'Banglore','Chennai','Mumbai'}

set1.difference_update(set2)
set1

{'Delhi', 'Hyderabad', 'Kolkata'}

In [29]:
set1 = {1,2,3,4,5,6,7,8}
set2 = {3,6,1,10,20,30}
set3 = {11,2,22,1,33,3} #11,22,33

set3.difference_update(set1,set2)
print('Set1', set1)
print('Set2', set2)
print('Set3', set3)

Set1 {1, 2, 3, 4, 5, 6, 7, 8}
Set2 {1, 3, 6, 10, 20, 30}
Set3 {33, 11, 22}

#### 12) .symmetric_difference()
`Syntax : set.symmetric_difference(set)`
    
returns a set that contains all items from both set, but not the items that are present in both sets.

In [31]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} #'Delhi','Kolkata',Hyderabad
set2 = {"Pune",'Banglore','Chennai','Mumbai'} #'Banglore', 'Chennai'

result = set1.symmetric_difference(set2)
print('Set1', set1)
print('Set2', set2)
print('Result', result)

Set1 {'Hyderabad', 'Mumbai', 'Pune', 'Kolkata', 'Delhi'}
Set2 {'Banglore', 'Chennai', 'Mumbai', 'Pune'}
Result {'Chennai', 'Hyderabad', 'Banglore', 'Kolkata', 'Delhi'}

In [32]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} #'Delhi','Kolkata',Hyderabad
set2 = {"Pune",'Banglore','Chennai','Mumbai'} #'Banglore', 'Chennai'

result = set2.symmetric_difference(set1)
print('Set1', set1)
print('Set2', set2)
print('Result', result)

Set1 {'Hyderabad', 'Mumbai', 'Pune', 'Kolkata', 'Delhi'}
Set2 {'Banglore', 'Chennai', 'Mumbai', 'Pune'}
Result {'Kolkata', 'Banglore', 'Chennai', 'Delhi', 'Hyderabad'}

#### 13) .symmetric_difference_update()
`Syntax : set.symmetric_difference_update(set)`
    
Remove the items that are present in both sets, AND insert the items that is not present in both sets.

In [34]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} #'Delhi','Kolkata',Hyderabad
set2 = {"Pune",'Banglore','Chennai','Mumbai'} #'Banglore', 'Chennai'

set1.symmetric_difference_update(set2)
set1

{'Banglore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata'}

#### 14) .issubset()
`Syntax : set.issubset(set)`

Returns whether another set contains this set or not, always returns boolean value.

In [18]:
x = {"a", "b", "c"} # subset
y = {"f", "e", "d", "c", "b", "a"} # Superset

z = x.issubset(y)

print(z)

True

In [37]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7}

set2.issubset(set1)

True

In [38]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Pune','Banglore','Chennai','Mumbai'}

set2.issubset(set1)

False

#### 15) .issuperset()
`Syntax : set.issuperset(set)`
    
Returns whether this set contains another set or not

In [39]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7}

set1.issuperset(set2)

True

In [40]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7,10}

set1.issuperset(set2)

False

In [41]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Pune','Banglore','Chennai','Mumbai'}

set1.issuperset(set2)

False

#### 16) .isdisjoint()
`Sytnax : set.isdisjoint(set)`
    
Returns whether two sets have a intersection or not that is no common elements, always returns a boolean value

In [21]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Banglore','Chennai'}

set1.isdisjoint(set2)

True

In [43]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Pune','Mumbai'}

set1.isdisjoint(set2)

False

#### 17) .copy()
`Syntax : set2 = set1.copy()`
    
returns a copy of a set

In [54]:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'banana', 'apple', 'cherry'}

#### FrozenSet
Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.
- frozenset is unordered in nature
- frozenset is immutable in nature
- duplicates are not allowed in frozenset

In [14]:
fs1 = frozenset({2,3,4,5,6,7})
print(fs1)

frozenset({2, 3, 4, 5, 6, 7})

#### FrozenSet functions

#### 1) .union()

In [45]:
fs1 = frozenset({3,4,5,6,5})
fs2 = frozenset({5,6,6,7,8})

fs3 = fs1.union(fs2)
print('FS1 >>',fs1)
print('FS2 >>',fs2)
print('FS3 >>',fs3)

FS1 >> frozenset({3, 4, 5, 6})
FS2 >> frozenset({8, 5, 6, 7})
FS3 >> frozenset({3, 4, 5, 6, 7, 8})

#### 2) .difference()

In [46]:
fs1 = frozenset({3,4,5,6,5}) # 3,4
fs2 = frozenset({5,6,6,7,8})


fs3 = fs1.difference(fs2)
fs3

frozenset({3, 4})

#### 3) .symmetric_difference()

In [47]:
fs1 = frozenset({3,4,5,6,5}) # 3,4
fs2 = frozenset({5,6,6,7,8}) # 7,8


fs3 = fs1.symmetric_difference(fs2)
fs3

frozenset({3, 4, 7, 8})

#### 4) .isubset()

In [48]:
fs1 = frozenset({3,4,5,6,5})
print(fs1)
fs2 = frozenset({5,6,6})
print(fs2)

result = fs2.issubset(fs1)
result

frozenset({3, 4, 5, 6})
frozenset({5, 6})

True

In [49]:
fs1 = frozenset({3,4,5,6,5})
print(fs1)
fs2 = frozenset({5,6,6,7})
print(fs2)

result = fs2.issubset(fs1)
result

frozenset({3, 4, 5, 6})
frozenset({5, 6, 7})

False

#### 5) .isuperset()

In [50]:
fs1 = frozenset({2,3,4,5,6})
fs2 = frozenset({2,4,5})

result = fs1.issuperset(fs2)
result

True

In [51]:
fs1 = frozenset({2,3,4,5,6})
fs2 = frozenset({2,4,5,10})

result = fs1.issuperset(fs2)
result

False

#### 6) .isdisjoint()

In [52]:
fs1 = frozenset({2,3,4,5})
fs2 = frozenset({6,7,8})

result = fs1.isdisjoint(fs2)
result

True

In [53]:
fs1 = frozenset({2,3,4,5})
fs2 = frozenset({6,7,8,5})

result = fs1.isdisjoint(fs2)
result

False