#### Dictionary {key:value}
Dictionary is a collection of items, having key and value. They are used to store data values in key:value pairs.
- Dictionary is comma seprated.
- Dictionary is enclosed by curly brakets.
- As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered in nature
- Dictionary is a mutable datatype.
- Duplicate keys are not allowed in dictionary, but dictionary can have duplicate values.
- We can not access items by using index,but we can access keys using index.
- Dictionaries cannot have two items with the same key, Duplicate values will overwrite existing values.
- key & values in dictionary item can have:

keys >> Immutable Datatypes (int, float, string, tuple, frozenset)

values >> Any Datatype (int,float,string,list,tuple,set,dict, etc)

In [1]:
dict1 = {} # An empty curly braket is a dict data type
print(type(dict1))

<class 'dict'>

In [1]:
dict1 = dict()
print(type(dict1))

<class 'dict'>

In [2]:
dict1 = {'a' : [10,20,30,40], 'b' : 200}
type(dict1)

dict

In [ ]:
dict1 = {'a' : [10,20,30,40], 3.5 : 200}
type(dict1)

In [3]:
dict1 = {1 : [10,20,30,40], (3.5,1,2,3,4) : 200}
type(dict1)

dict

In [4]:
dict1 = {1 : [10,20,30,40], frozenset({3.5,1,2,3,4}) : 200}
dict1

{1: [10, 20, 30, 40], frozenset({1, 2, 3, 3.5, 4}): 200}

In [5]:
names_dict = {'Name' : 'Rohit' , 
              'Age' : 15, 
              'Marks' : 90, 
              'Place' : 'Pune', 
              'Name' : 'Ajay', 'Contact' : 12345578}
names_dict

{'Name': 'Ajay', 'Age': 15, 'Marks': 90, 'Place': 'Pune', 'Contact': 12345578}

In [1]:
x = dict(name = "John", age = 36, country = "Norway")
print(x)

{'name': 'John', 'age': 36, 'country': 'Norway'}

#### length()

In [6]:
names_dict = {'Name' : 'Rohit' , 
              'Age' : 15, 
              'Marks' : 90, 
              'Place' : 'Pune', 
              'Name' : 'Ajay', 'Contact' : 12345578}
print(len(names_dict))

5

#### Accessing items

In [8]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["model"])

Mustang

In [11]:
# We can use get() function also to get the value of specific key

#### get()
will give you the same result, but the difference is it will not give you an error if the key is not present in the dictionary

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("model"))

Mustang

#### Get keys

In [12]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.keys())

dict_keys(['brand', 'model', 'year'])

#### Get values

In [13]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.values())

dict_values(['Ford', 'Mustang', 1964])

#### Get items

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [20]:
employee_data = {'Employee_name' : 'Prashant',
                'Company Name' : 'Zensar',
                'Salary' : 50000,
                'Designation' : 'Data Scientist'}
employee_data

{'Employee_name': 'Prashant',
 'Company Name': 'Zensar',
 'Salary': 50000,
 'Designation': 'Data Scientist'}

In [21]:
employee_data.get('Employee_name')

'Prashant'

In [22]:
employee_data.get('Salary')

50000

#### Use of membership operator

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

#### Adding new elements in dictionary

In [17]:
# Adding new items in dictionary

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

#### Changing elements in dictionary

In [19]:
# changing values

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [38]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["brand"] = 'Honda'

print(thisdict)

{'brand': 'Honda', 'model': 'Mustang', 'year': 1964}

In [ ]:
# for changing item or (key: value pair in dictionary we use .update function)

#### For loop in dictionary

#### 1) Accessing keys from the dictionary using for loop

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(i)

brand
model
year

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.keys():
    print(i)

brand
model
year

#### 2) Accessing values from the dictionary using for loop

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(thisdict[i])

Ford
Mustang
1964

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.values():
    print(i)

Ford
Mustang
1964

#### 3) Accessing items from the dictionary using for loop

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.items():
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

#### Converting dictionary to list

In [33]:
dict1 = { 'Geeks': 10, 'for': 12, 'Geek': 31 }
list1 = []

for i,j in dict1.items():
    list1.append(i)
    list1.append(j)
print(list1)

['Geeks', 10, 'for', 12, 'Geek', 31]

In [35]:
# Another way using list comprehension

dict1 = { 'Geeks': 10, 'for': 12, 'Geek': 31 }

list1 = [(i,j) for (i,j) in dict1.items()]
print(list1)

[('Geeks', 10), ('for', 12), ('Geek', 31)]

#### DIctionary functions

- get()
- update()
- keys()
- values()
- items()
- pop()
- popitem()
- clear()
- setdefault()
- fromkeys()
- copy()

#### 1) .update()
`Syntax : dictionary.update(iterable)`
    
inserts the specified items to the dictionary.

In [39]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [40]:
employee_data = {'Employee_name' : 'Prashant',
                'Company_Name' : 'Zensar',
                'Salary' : 50000,
                'Designation' : 'Data Scientist'}

new_data = {'Company_Location' : 'Mumbai', 'Age' : 30, 'Employee_ID' : 'Z00011'}

employee_data.update(new_data)

print(employee_data, len(employee_data))

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Salary': 50000, 'Designation': 'Data Scientist', 'Company_Location': 'Mumbai', 'Age': 30, 'Employee_ID': 'Z00011'} 7

#### 2) .keys()
`Syntax : dict.keys()`

Returns a list containing the dictionary's keys

In [42]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

#### 3) .values()
`Syntax : dict.values()`

Returns a list of all the values in the dictionary

In [43]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

#### 4) .items()
`Syntax : dict.items()`

Returns a list containing a tuple for each key value pair

In [44]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

#### 5) .pop()
`Syntax : ditct.pop(key)`
    
Removes the element with the specified key

In [46]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.pop("model")
print(x)
print(car)

Mustang
{'brand': 'Ford', 'year': 1964}

In [47]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}

d1.pop('Salary')
print(d1)

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Designation': 'Data Scientist'}

#### 6) .popitem()
`Syntax : dict.popitem()`

Removes the last inserted key-value pair

In [49]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [50]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}
d1.popitem()
d1

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Salary': 50000}

#### 7) .clear()
`Syntax : dict.clear()`
    
clears the dictionary

In [51]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}

d1.clear()
print(d1)

{}

#### 8) .del()
`Syntax : del dict[key]`

delets the item with specified key

In [52]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}

del d1['Designation']
print(d1)

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Salary': 50000}

#### 9) .copy()
`Syntax : dict1 = dict2.copy()`
    
You cannot copy a dictionary simply by typing dict2 = dict1, Because changes madein dict1 will reflect to the dict2.

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [71]:
# Or

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### 10) .fromkeys()
`Syntax : dict.fromkeys([keys], value)`

Returns a dictionary with the given keys and value

In [85]:
result = dict.fromkeys(['A', 'B', 'C', 'D'])
result

{'A': None, 'B': None, 'C': None, 'D': None}

In [89]:
result = dict.fromkeys(['A', 'B', 'C', 'D'],'Python')
result

{'A': 'Python', 'B': 'Python', 'C': 'Python', 'D': 'Python'}

In [90]:
result = dict.fromkeys('python', 1000)
result

{'p': 1000, 'y': 1000, 't': 1000, 'h': 1000, 'o': 1000, 'n': 1000}

In [91]:
result = dict.fromkeys('python', [1000,2000,3000,4000])
result

{'p': [1000, 2000, 3000, 4000],
 'y': [1000, 2000, 3000, 4000],
 't': [1000, 2000, 3000, 4000],
 'h': [1000, 2000, 3000, 4000],
 'o': [1000, 2000, 3000, 4000],
 'n': [1000, 2000, 3000, 4000]}

#### 11) .setdefault()
`Syntax : dict.setdefault(keyname,value)`
    
Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

In [92]:
result = {'Phy' : 90, 'Che':89, 'Maths' :89, 'Eng' : 92, 'Bio' : 85}
result.setdefault('Phy')

90

In [94]:
result = {'Phy' : 90, 'Che':89, 'Maths' :89, 'Eng' : 92, 'Bio' : 85}
result.setdefault('Physics')
result

{'Phy': 90, 'Che': 89, 'Maths': 89, 'Eng': 92, 'Bio': 85, 'Physics': None}

In [95]:
result = {'Phy' : 90, 'Che':89, 'Maths' :89, 'Eng' : 92, 'Bio' : 85}
result.setdefault('Data Science', 95)
result

{'Phy': 90, 'Che': 89, 'Maths': 89, 'Eng': 92, 'Bio': 85, 'Data Science': 95}

#### Sorting dictionary elements

In [76]:
# By using keys

dict1 = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}
dict2 = {}

sorted_keys = sorted(dict1.keys())
sorted_keys

for sub in sorted_keys:
    dict2.update({sub : dict1[sub]})
print("new dictionary", dict2)

new dictionary {'Bio': 85, 'Che': 89, 'Eng': 92, 'Math': 93, 'Phy': 90}

In [83]:
# By using values

dict1 = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}
dict2 = {}

sorted_values = sorted(dict1.values())
print(sorted_values)
print()
for marks in sorted(result.values()): # marks == 85, 89, 90, 92, 93
    for sub in dict1:  # sub == keys
#         print( "Subject name", sub) # 'Phy', 'Che', 'Maths', 'Eng', 'Bio'
        if dict1[sub] == marks:   # result[sub] == 85; Phy, Che, Math, Eng, 'Bio' == 85
            dict2.update({sub : marks})
#             print(dict2)
            break
print(dict2)

[85, 89, 90, 92, 93]

{'Bio': 85, 'Che': 89, 'Phy': 90, 'Eng': 92, 'Math': 93}

#### practical example for dictionary

In [54]:
# Square of first 10 numbers

for i in range(1,11):
    square[i] = i ** 2
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [55]:
# ASCII value for alphabetes

ascii_upper = {}
ascii_lower = {}

for i in range(65, 91):
    ascii_upper.update({chr(i) : i})
print(ascii_upper)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [56]:
for i in range(97,123):
    ascii_lower.update({chr(i) : i})
print(ascii_lower)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

#### Nested dictionary

In [57]:
emp_details  = {'CG0001' : {'Employee_name' : 'Prashant',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 50000,
                            'Designation' : 'Data Scientist'},
               'CG0002' : {'Employee_name' : 'ABC',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 65000,
                            'Designation' : 'ML Developer'},
                'CG0003' : {'Employee_name' : 'XYZ',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 80000,
                            'Designation' : 'Python Developer'}}
print(emp_details)

{'CG0001': {'Employee_name': 'Prashant', 'Company_Name': 'Cognizant', 'Salary': 50000, 'Designation': 'Data Scientist'}, 'CG0002': {'Employee_name': 'ABC', 'Company_Name': 'Cognizant', 'Salary': 65000, 'Designation': 'ML Developer'}, 'CG0003': {'Employee_name': 'XYZ', 'Company_Name': 'Cognizant', 'Salary': 80000, 'Designation': 'Python Developer'}}

In [58]:
emp_details["CG0001"]["Designation"]

'Data Scientist'

In [59]:
emp_details["CG0002"]["Salary"]

65000

In [60]:
emp_details  = {'CG0001' : {'Employee_name' : 'Prashant',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 50000,
                            'Designation' : 'Data Scientist'},
               'CG0002' : {'Employee_name' : 'ABC',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 65000,
                            'Designation' : 'ML Developer'},
                'CG0003' : {'Employee_name' : 'XYZ',
                            'Company_Name' : 'Cognizant',
                            'Salary' : [80000,34567,90000],
                            'Designation' : 'Python Developer'}}

emp_details["CG0003"]["Salary"]

[80000, 34567, 90000]

In [61]:
emp_details["CG0003"]["Salary"][-1]

90000

In [62]:
emp_details["CG0003"]["Salary"][-1] = 85000

In [63]:
emp_details["CG0003"]["Salary"][-1]

85000

#### Creating dictionary

In [65]:
subject = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
marks = [90, 89, 93, 92, 85]

dict1 = {}
for i in range(len(subject)):
    dict1.update({subject[i]: marks[i]})
print(dict1)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}

In [66]:
# Or

result = {}
for s in subject:
    for m in marks:
        result[s] = m        
print(result)

{'Phy': 85, 'Che': 85, 'Math': 85, 'Eng': 85, 'Bio': 85}

In [67]:
# Or

subject = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
marks = [90, 89, 93, 92, 85]
zipf = dict(zip(subject,marks)) # The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.
print(zipf)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}

In [69]:
# Or

dict1 = {}
for index, sub in enumerate(subject):
    dict1[sub] = marks[index]
    
print(dict1)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}